body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

main {
    flex: 1;  /* Takes up remaining space */
}

.footer {
    margin-top: auto;  /* Pushes footer to bottom */
}
.experience-item {
    padding: 20px;
    border-left: 3px solid #007bff;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.tech {
    color: #6c757d;
    font-style: italic;
}

.date {
    color: #6c757d;
    font-size: 0.9em;
}